*{
    margin:0px;
    padding:0px;
}

body{
    background: black;
}

.container{
    border-radius: 20px;
    margin:100px;
    padding:5px;
    width:90%;
    max-width: 480px;
    background: violet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img{
    width:30px;
    cursor:pointer;
    padding:5px;
}

.container input{
    margin:0px 10px;
    font-size:17px;
    border:none;
    outline:none;
    background: transparent;
}